spring:
  r2dbc:
    url: r2dbc:h2:mem:///maindb
    username: sa
    password:
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
      schema-locations: classpath:schema.sql
      platform: h2
  h2:
    console:
      enabled: true
      path: /h2-console
  mvc:
    hiddenmethod:
      filter:
        enabled: true
